
<div
*ngIf="removeItemMessage"
class="container"
style="width: 300px; background-color: orange;
display: flex; justify-content:
center;
align-items: center;"
>
<p style="color:white">{{removeItemMessage}}</p>
<span style="cursor: pointer; font-weight: bold; position: relative; bottom: 15px; left: 30px;" (click)="removeEl()">x</span>
</div>
<ng-container *ngIf="products.length != 0">
  <div class="container">

    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>S/n</th>
              <th>Product name</th>
              <th>Product image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <td>{{i+1}}</td>
              <td><p>{{item.title}}</p></td>
              <td><img src={{item.image}} alt="Item image" width="60px" height="60px" /></td>
              <td>{{item.description}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.total}}</td>
              <td>
                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td><button class="btn btn-danger cart-btn" (click)="emptyCart()" >Empty cart</button></td>
              <td><button class="btn btn-primary cart-btn" routerLink="/">Shop more</button></td>
              <td><button class="btn btn-success cart-btn" routerLink="/order" >Checkout</button></td>
              <td style="min-width: 200px;"><strong>Grand total:N{{grandTotal}}</strong></td>
            </tr>
          </tbody>

        </table>

      </div>

    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length === 0" class="ng-container">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img width="200px" height="200px" src="https://media.istockphoto.com/id/1359570633/photo/shopping-cart-on-white.jpg?s=612x612&w=is&k=20&c=1PtkVr9njSwCGortLhHP7zpeNIzPT6tVErLxPBnBQy4=" alt="Cart" />
      <h4>You have no items in your cart</h4>
      <h5>Add item to it</h5>
      <button class="btn btn-primary" routerLink="/">Start shopping</button>
    </div>
  </div>

</ng-container>
