
<div>
  <h5 style="text-align: center; position: relative; top:70px;">Complete your order</h5>

  <div class="container">
      <form class="form-group">
        <div><label for="fullname">Full name</label></div>
        <input class="input-group" type="text" name="fullname" placeholder="Enter fullname" style="width: 300px;"/>
        <div><label for="address">Address</label></div>
        <textarea style="width: 300px;" class="input-group" type="text" name="address" placeholder="Enter billiing address"></textarea>
        <div><label for="carn number">Credit card number</label></div>
        <div><input style="width: 300px;" class="input-group" type="text" name="creditcardnumber" placeholder="Enter Credit card number"/></div>
        <input type="submit" class="btn btn-success" style="width:300px; margin: 10px 0;" value="Submit"/>
      </form>
    </div>
</div>


<!-- (ngSubmit)="formSubmit()" -->
