
<h2 class="font-weight-bold text-center text-success">Complete your order</h2>


  <div class="container w-50 fa-border p-5" >
    <form [formGroup]="dataFormForm" (ngSubmit)="formSubmit()" novalidate>
      <!-- <p>Status: {{dataFormForm.errors}}</p> -->
      <div>
        <p>
        <label for="fullname">Fullname</label>
        <input
        type="text"
        class="form-control"
        name="fullname"
        formControlName="fullname"
        />
       </p>
      </div>

      <div >
         <label for="address">Address</label>
         <textarea
         class="form-control"
           name="address"
            formControlName="address"
           >
         </textarea>

     </div>
     <div>

         <label for="cardnumber">Credit card details</label>
         <input
         type="text"
         class="form-control"
         name="cardnumber"
         formControlName="cardnumber"
         >


     </div>
     <button
     class="btn btn-success"
     type="submit" [disabled]="!dataFormForm.valid"
     style="width: 100%; margin-top: 20px;"
     routerLink="/confirmation"
     >Submit</button>
    </form>
  </div>
